@use './../../styles/partials/layouts/index' as *;
@use './../../styles/partials/abstract/index' as *;
.cs-page {
  background-color: var(--c-pri-purp);
  @include flex-center();
  border-radius: 5px 100px 5px 5px;
  padding-bottom: 40px;
  gap: 48px;
  &__container {
    @extend .container;
    gap: 32px;
    display: flex;
    flex-direction: column;
  }
  &__header {
    padding: 40px 16px 16px 0;
    gap: 16px;
    @include flex-center(x);
  }
  &__headline {
    font-size: var(--f-sz-9);
    line-height: 42px;
    font-weight: 400;
  }
  &__form-wrapper {
    width: 100%;
  }
  &__icon-wrapper {
    justify-content: space-between;
    @include flex-center(y, row);
  }
  &__close-form {
    background-color: color-mix(in srgb, var(--c-pri-oran), transparent 70%);
    padding: 8px 12px;
    border-radius: 10px;
  }
}
