@use './../../../styles/partials/layouts/index' as *;
@use './../../../styles/partials/abstract/index' as *;
.header {
  top: 0;
  @include flex-center();
  &--primary {
    background-color: var(--c-pri-purp);
    color: var(--c-pri-oran);
  }
  &__container {
    @extend .container;
    padding: 48px var(--pd-lat-s);
    @include flex-center(y, row);
    justify-content: space-between;
    @media (min-width: 768px) {
      padding: 48px var(--pd-lat-m);
    }
    @media (min-width: 1024px) {
      padding: 56px var(--pd-lat-l);
    }
  }
  &__logo-wrapper {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }
  &__title {
    font-family: var(--f-ner);
    font-size: var(--f-sz-5);
    line-height: 16px;
  }
}
