:root {
  --c-pri-purp: #35273a;
  --c-pri-oran: #ffb770;
  --c-pri-oran-30: #ffb7704d;
  --c-sec-oran: #ffcfa1;
  --c-orang: #ee9236;
  --c-urg-task: #faf5fe;
  --c-urg-task-hov: #f4e9fb;
  --c-btn-badge-f: #221227;
  --c-white: #ffffff;
  --c-header: #ee9236;
  --f-ner: 'nerko'; //headlines
  --f-mul: 'mulish'; // alles andere
  --f-nok: 'nokora'; // btn alle
  --f-sz-0: 12px;
  --f-sz-1: 14px;
  --f-sz-2: 16px;
  --f-sz-3: 18px;
  --f-sz-4: 20px;
  --f-sz-5: 24px;
  --f-sz-6: 26px;
  --f-sz-7: 32px;
  --f-sz-8: 54px;
  --f-sz-9: 56px;
  --f-sz-10: 62px;
  --f-sz-11: 100px;
}
