@use './../../styles/partials/layouts/index' as *;
@use './../../styles/partials/abstract/index' as *;
.atf {
  background-color: var(--c-pri-purp);
  @include flex-center();
  &__container {
    padding-bottom: 48px;
    padding-top: 48px;
    @extend .container;
    gap: 54px;
    @media (min-width: 768px) {
      padding: 108px var(--pd-lat-m) 48px;
    }
    @media (min-width: 1024px) {
      padding: 128px var(--pd-lat-l) 56px;
    }
  }
  &__content {
    gap: 24px;
    display: grid;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1024px) {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__headline {
    color: var(--c-pri-oran);
    font-size: var(--f-sz-10);
    line-height: 50px;
    letter-spacing: 0%;
    @media (min-width: 768px) {
      line-height: 68px;
    }
    @media (min-width: 1024px) {
      font-size: var(--f-sz-11);
      line-height: 89px;
    }
  }

  &__description {
    color: #ffffff;
    font-weight: 600;
    line-height: 100%;
    font-size: 18px;
    @media (min-width: 768px) {
      font-size: var(--f-sz-5);
    }
  }
  &__image-wrapper {
    position: relative;
    align-self: center;
    justify-self: center;
    @media (min-width: 768px) {
      grid-row: 1/4;
      grid-column: 2;
    }
    @media (hover: hover) {
      &:hover {
        .bubble {
          animation: bubble 0.8s linear infinite alternate;
        }
        .mark {
          animation: mark 0.8s linear infinite alternate;
        }
        .star {
          animation: star 0.8s linear infinite alternate;
        }
        .check {
          animation: check 1.8s linear infinite alternate;
        }
      }
    }
  }
  &__image-elements {
    position: absolute;
    &.bubble {
      left: 12%;
      top: 25%;
      height: 19%;
      width: 31%;
      z-index: 2;
    }
    &.mark {
      height: 20%;
      aspect-ratio: 1;
      right: 9%;
      top: 1%;
      z-index: 2;
      transform: rotate(-12deg);
    }
    &.star {
      height: 17%;
      aspect-ratio: 1;
      left: 10%;
      bottom: 7%;
    }
    &.check {
      height: 22%;
      aspect-ratio: 1;
      right: 13%;
      bottom: 19%;
    }
  }
  &__image {
    z-index: 1;
    position: relative;
    @media (min-width: 768px) {
      width: 340px;
      height: 340px;
    }
    @media (min-width: 1024px) {
      width: 420px;
      height: 420px;
    }
  }
  app-btn {
    justify-self: center;
    @media (min-width: 768px) {
      justify-self: start;
    }
  }
}

@keyframes bubble {
  from {
  }
  to {
    transform: scale(1.5) rotate(7deg);
  }
}

@keyframes mark {
  to {
    transform: translateX(22px) rotate(10deg);
  }
}
@keyframes star {
  from {
  }
  to {
    transform: translateY(-15px) translateX(-15px);
  }
}

@keyframes check {
  from {
    transform: translateY(0) translateX(0);
  }
  45% {
    transform: translateY(10px) translateX(45px);
  }
  95% {
    z-index: 1;
  }
  to {
    transform: translateY(0) translateX(0);
    z-index: 1;
  }
}
