// above-the-fold.scss
// BEM-Block: .atf
@use './../../styles/partials/layouts/index' as *;
@use './../../styles/partials/abstract/index' as *;
.atf {
  background-color: var(--c-pri-purp);
  @include flex-center();
  &__container {
    padding-bottom: 48px;
    padding-top: 48px;
    @extend .container;
    @include flex-center();
    gap: 54px;
  }
  &__content {
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__headline {
    color: var(--c-pri-oran);
    font-size: var(--f-sz-10);
    line-height: 50px;
    letter-spacing: 0%;
  }

  &__description {
    color: #ffffff;
    font-weight: 600;
    line-height: 100%;
    font-size: 18px;
  }
}
