@use '../../styles/partials/abstract/index' as *;
@use '../../styles/partials/abstract/mixin' as *;

.create-form {
  padding: 40px 10px;
  border-radius: 5px 80px 5px 5px;
  background-color: #8e709929;
  display: flex;
  flex-direction: column;
  gap: 54px;
  width: 100%;
  &__main-info {
    gap: 8px;
    display: grid;
    grid-template-areas: 'titel' 'categorys' 'date' 'description';
    @media (min-width: 1024px) {
      column-gap: 64px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: 'titel titel  description description' 'date categorys  description description';
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
  }
  &__titel-input {
    grid-area: titel;
  }
  &__date-input {
    grid-area: date;
  }
  &__desc-input {
    grid-area: description;
  }
  &__categorys-label {
    grid-area: categorys;
  }
  &__categorys-wrapper {
    width: max-content;
    @media (min-width: 1024px) {
      justify-self: center;
    }
  }
  &__categorys-select {
    position: absolute;
    border-radius: 6px;
    background-color: #ffffff;
    gap: 4px;
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
  }
  &__categorys-label {
    color: var(--c-white);
    font-size: var(--f-sz-3);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 6px;
    gap: 4px;
    padding: 4px 6px 4px 0px;
    &:hover {
      background-color: var(--c-hover-pur);
    }
    &:hover .create-form__dd-icon {
      background-color: var(--c-pri-oran);
    }
  }
  &__dd-icon {
    mask-image: url(/assets/imgs/icons/arrow_drop_down.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    transform: rotate(180deg);
    transition: all 75ms ease-in;
  }
  &__dd-icon--rot {
    transform: rotate(0deg);
    background-color: var(--c-pri-oran);
  }
  &__categorys-select {
    padding: 4px 6px 4px 10px;
  }
  &__option {
    padding: 4px;
    border-radius: 6px;
    font-size: var(--f-sz-1);
    &:hover {
      background-color: var(--c-hover-pur);
    }
  }
  &__category-selected {
    padding: 4px 4px 4px 10px;
    color: var(--c-pri-oran);
    font-size: var(--f-sz-1);
  }
  &__label-wrapper {
    color: var(--c-white);
    font-size: var(--f-sz-3);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    span {
      font-weight: 400;
    }
  }
  &__add-question {
    align-self: center;
  }

  &__inp {
    border-radius: 5px 20px 5px 5px;
    padding: 7px 13px;
    width: 100%;
  }
  &__questions-answers-wrapper {
    display: grid;
    gap: 64px;
    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__wrapper {
    gap: 4px;
    display: flex;
    flex-direction: column;
  }
  &__clear-input {
    padding-right: 16px;
  }
  &__q-wrapper {
    width: 100%;
    gap: 4px;
    display: flex;
    flex-direction: column;
  }
  &__answer-wrapper {
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
  &__question-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__answers-check {
    display: flex;
    width: max-content;
    text-wrap: nowrap;
    gap: 4px;
    font-size: var(--f-sz-1);
    align-items: center;
    cursor: pointer;
    label {
      cursor: pointer;
    }
  }
  &__add-answers-wrapper {
    @include flex-center(y, row);
    justify-content: space-between;
  }
  &__submit-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.61);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__check-icon-wrapper {
    @include flex-center();
    border: 1.5px solid white;
    border-radius: 3px;
    cursor: pointer;
  }
  &__add-answers-info {
    font-size: 12px;
    color: var(--c-white);
    padding-right: 12px;
  }
  &__check-icon {
    cursor: pointer;
    appearance: none;
    height: 15px;
    width: 15px;
    padding: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:checked {
      background-color: white;
      mask-image: url(/assets/imgs/icons/check_icon.svg);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-size: contain;
      mask-origin: content-box;
      mask-size: contain;
      &::after {
        height: 15px;
        width: 15px;
        content: '';
      }
    }
  }
}
app-card {
  background-color: #fee9d4;
  border-radius: 5px 50px 5px 5px;
}
