@use '../../styles/partials/abstract/index' as *;
@use '../../styles/partials/abstract/mixin' as *;
@use './../../styles/partials/layouts/index' as *;
:host {
  display: flex;
  justify-content: center;
  gap: 26px;
}
.answer-page {
  @extend .container;
  &__wrapper {
    display: grid;
    column-gap: 24px;
    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 140px;
    }
  }
  &__live-result {
    padding: 48px 0;
    position: relative;
    height: max-content;
    top: 90px;
  }
  &__survey {
    padding: 24px 10px;
    border-radius: 5px 80px 5px 5px;
    background-color: #8e709929;
    display: flex;
    flex-direction: column;
    gap: 54px;
    width: 100%;
  }
  &__icon-wrapper {
    padding-right: 16px;
    @include flex-center(y, row);
    justify-content: space-between;
  }
  &__drop-down-wrapper {
    @include flex-center(y, row);
    padding: 4px 6px 4px 32px;
    gap: 4px;
    width: max-content;
    font-size: var(--f-sz-3);
    font-weight: 600;
    &:hover .answer-page__drop-down-icon {
      background-color: var(--c-pri-oran);
    }
  }
  &__drop-down-icon {
    mask-image: url(/assets/imgs/icons/arrow_drop_down.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--c-pri-purp);
    width: 20px;
    aspect-ratio: 1;
    transform: rotateX(180deg);
  }
  &__drop-down-icon.open {
    transform: rotateX(0deg);
  }
  &__close-form {
    background-color: color-mix(in srgb, var(--c-pri-oran), transparent 70%);
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: color-mix(in srgb, var(--c-pri-oran), transparent 30%);
    }
  }
}
