<section class="answer-page">
  <div class="answer-page__container">
    <div class="answer-page__content">
      <div class="answer-page__survey">
        <div class="answer-page__icon-wrapper">
          <app-badge lable="Published"></app-badge>
          <img
            routerLink="/"
            class="answer-page__close-form"
            src="/assets/imgs/icons/close.svg"
            alt=""
            srcset=""
          />
        </div>
        <app-answer-form></app-answer-form>
      </div>
    </div>
  </div>
  <div class="answer-page__live-result"><app-vote-form></app-vote-form></div>
</section>
