.field {
  gap: 4px;
  display: flex;
  flex-direction: column;
  &__label-wrapper {
    color: var(--c-white);
    font-size: var(--f-sz-3);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
  }
  &__opt-marker {
    font-weight: 100;
    cursor: pointer;
  }
  &__inp {
    border-radius: 5px 20px 5px 5px;
    padding: 7px 13px;
    width: 100%;
    cursor: pointer;
  }
  &__label {
    cursor: pointer;
    user-select: none;
  }

  &__clear-input {
    cursor: pointer;
  }
}
input[type='date'] {
  &::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}
